@mixin filter_transition($grayscale, $property) {
 filter: grayscale($grayscale); /* 60% Schwarz-Weiß Filter */
 -webkit-transition: filter $property;
 -o-transition: filter $property;
 transition: filter $property;
}

@mixin transition($duration, $effect) {
 -webkit-transition: $duration $effect;
 -o-transition: $duration $effect;
 transition: $duration $effect;
}