@import "_vars.scss";
@import "_mixins.scss";

/* Schriften */

body {
    position: relative;
}

body, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-alt {
    font-family: "Mulish", sans-serif;
}

p.ueber-uns {
    text-align: center;
}

/* Button */

.btn-round {
    border-radius: 30px;

}

/* Farben */

.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    position: absolute;
    top: 0;
}

a {
    &.text-white, .text-white {
        &:hover {
            color: $primary-color !important;
            text-decoration: none;
        }
    }
}

nav {
    @include transition(0.7s, ease-in-out);
}

/* Section */

section {
    padding: 140px 0;
}

/* Hilfsklassen */

.d-relative {
    position: relative;
}

.feature-icon {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    background-color: rgb(30, 30, 30);
    border-radius: 35px;
    color: white;
    text-align: center;
    font-size: 30px;
    transition: all 0.5s;
    margin-left: auto;
    margin-right: auto;
}

/* Bild Hover */

#loesungen .card img,
#impressionen img {
    @include filter_transition(60%, 0.3s);
}
/* Kein Filter, beim Hovern */
#loesungen .card:hover img, /* Ganze Karte */
#impressionen img:hover,
#team img:hover {
    filter: none;
}

/* === Navigation ===*/

.navbar.navbar-dark {
    button:hover, button:focus, .nav-link:hover {
        color: $primary-color;
    }
}

.navbar-nav .badge {
    position: absolute;
    left: 25px;
    bottom: 25px;
    padding-right: .5em;
    padding-left: .5em;
}

.navbar-nav .icon-basket {
    line-height: 0.8;
    font-size: 1.5em;
}

/* Nur für den Fall bg-white */
.navbar.bg-white .navbar-nav .nav-link,
.navbar.bg-white a,
.navbar.bg-white button {
    color: $secondary-color;
}
.navbar.bg-white .navbar-nav a:hover {
    color: $primary-color;
}
.navbar-dark .navbar-brand:hover {
    color: $primary-color !important;
}
.navbar.bg-white button {
    border-color: rgba(51, 51, 51, 0.6);
}
/* Für Scroll Spy */
.navbar .navbar-nav .nav-link.active {
    color: $primary-color;
}

/* === Hero ===*/

.hero-bg {
    background: url('../img/header-background-edited.jpg') 50% fixed no-repeat;
    height: 100vh;
    background-size: cover;
}

#home {
    .container {
        height: 100%;
    }
    .row {
        height: 80%;
    }
}
/* === Team ===*/

.team-bg {
    background: url('../img/programming.jpg') 50% fixed no-repeat;
    height: 100%;
    background-size: cover;

}

#team .rounded-circle {
    border: 8px solid #FFF;
}

/* === Testimonial ===*/

.testimonials-bg {
    background: url('../img/customer.jpg') 50% fixed no-repeat;
    height: 50vh;
    background-size: cover;
}

#testimonial-carousel {
    .carousel-control-prev, .carousel-control-next {
        width: 1%;
    }
    .carousel-indicators {
        /* Indicators nach unten verschieben */
        bottom: -30px;
        li {
            /* Runde Indicators */
            max-width: 10px;
            height: 10px;
            border-radius: 50%; 
        }
    }
}
/* === Newsletter ===*/

.newsletter-bg {
    background: url('../img/newsletter.jpg') 50% fixed no-repeat;
    height: 100%;
    background-size: cover;
}
/* === Modal ===*/
/* Scrollbalken ausblenden */
.modal-open {
    padding-right: 0px !important;
}

/* === Kontakt ===*/

.input-group-lg {
    >.form-control {
        /* Nur normale Eingabefelder ohne Icon */
        border-radius: 30px;
    }
    .input-group-prepend {
        .input-group-text {
            /* mit Icons */
            border-top-left-radius: 30px; /* Oben links */
            border-bottom-left-radius: 30px; /* Unten links */
        }
    }
}

/* === Footer ===*/

.bg-black {
    background-color: $secondary-color;
}

/* === Back to Top Button ===*/

#back-to-top-button {
    display: none;
    /* Position unten rechts */
    position: fixed;
    right: 40px;
    bottom: 40px;
}