/* === Allgemein ===*/

/* Schriften */

body {
    position: relative;
}

body, p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-alt {
    font-family: "Mulish", sans-serif;
}

p.ueber-uns {
    text-align: center;
}

/* Button */

.btn-round {
    border-radius: 30px;

}

/* Farben */

.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    position: absolute;
    top: 0;
}

a .text-white:hover,
a.text-white:hover {
    color: #dc3545 !important;
    text-decoration: none;
}

nav {
    -webkit-transition: 0.7s ease-in-out;
    -o-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
}

/* Section */

section {
    padding: 140px 0;
}

/* Hilfsklassen */

.d-relative {
    position: relative;
}

.feature-icon {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    background-color: rgb(30, 30, 30);
    border-radius: 35px;
    color: white;
    text-align: center;
    font-size: 30px;
    transition: all 0.5s;
    margin-left: auto;
    margin-right: auto;
}

/* Bild Hover */

#loesungen .card img,
#impressionen img {
    filter: grayscale(60%); /* 60% Schwarz-Weiß Filter */
    -webkit-transition: filter 0.3s;
    -o-transition: filter 0.3s;
    transition: filter 0.3s;
}
/* Kein Filter, beim Hovern */
#loesungen .card:hover img, /* Ganze Karte */
#impressionen img:hover,
#team img:hover {
    filter: none;
}

/* === Navigation ===*/

.navbar.navbar-dark button:hover,
.navbar.navbar-dark button:focus,
.navbar.navbar-dark .nav-link:hover {
    color: #dc3545;
}

.navbar-nav .badge {
    position: absolute;
    left: 25px;
    bottom: 25px;
    padding-right: .5em;
    padding-left: .5em;
}

.navbar-nav .icon-basket {
    line-height: 0.8;
    font-size: 1.5em;
}

/* Nur für den Fall bg-white */
.navbar.bg-white .navbar-nav .nav-link,
.navbar.bg-white a,
.navbar.bg-white button {
    color: #333;
}
.navbar.bg-white .navbar-nav a:hover {
    color: #dc3545;
}
.navbar-dark .navbar-brand:hover {
    color: #dc3545 !important;
}
.navbar.bg-white button {
    border-color: rgba(51, 51, 51, 0.6);
}
/* Für Scroll Spy */
.navbar .navbar-nav .nav-link.active {
    color: #dc3545;
}

/* === Hero ===*/

.hero-bg {
    background: url('../img/header-background-edited.jpg') 50% fixed no-repeat;
    height: 100vh;
    background-size: cover;
}

#home .container {
    height: 100%;
}

#home .row {
    height: 80%
}

/* === Team ===*/

.team-bg {
    background: url('../img/programming.jpg') 50% fixed no-repeat;
    height: 100%;
    background-size: cover;

}

#team .rounded-circle {
    border: 8px solid #FFF;
}

/* === Testimonial ===*/

.testimonials-bg {
    background: url('../img/customer.jpg') 50% fixed no-repeat;
    height: 50vh;
    background-size: cover;
}

#testimonial-carousel .carousel-control-prev,
#testimonial-carousel .carousel-control-next {
    width: 1%;
}
/* Indicators nach unten verschieben */
#testimonial-carousel .carousel-indicators {
    bottom: -30px;
}
/* Runde Indicators */
#testimonial-carousel .carousel-indicators li {
    max-width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* === Newsletter ===*/

.newsletter-bg {
    background: url('../img/newsletter.jpg') 50% fixed no-repeat;
    height: 100%;
    background-size: cover;
}
/* === Modal ===*/
/* Scrollbalken ausblenden */
.modal-open {
    padding-right: 0px !important;
}

/* === Kontakt ===*/

/* Nur normale Eingabefelder ohne Icon */
.input-group-lg > .form-control {
    border-radius: 30px;
}
/* mit Icons */
.input-group-lg .input-group-prepend .input-group-text {
    border-top-left-radius: 30px; /* Oben links */
    border-bottom-left-radius: 30px; /* Unten links */
}

/* === Footer ===*/

.bg-black {
    background-color: #333;
}

/* === Back to Top Button ===*/

#back-to-top-button {
    display: none;
    /* Position unten rechts */
    position: fixed;
    right: 40px;
    bottom: 40px;
}